.newcollection{
   margin-top: 60vh;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 10vh;
   margin-bottom: 60vh;
}
.newcollection-title{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.newcollection-title hr{
   background: #252525;
   width: 200px;
   height: 8px;
   color: #252525;
   margin-bottom: 60px;
}
.newcollection-title h1{
   font-size: 50px;
   color: #171717;
}
.newcollection-container{
   display: grid;
   grid-template-columns: repeat(4,1fr);
   gap: 28px;
}
@media (max-width:1280px) {
   .newcollection-title h1{
      font-size: 40px;
   }
   .newcollection-title hr{
      width: 165px;
      height: 5px;
   }
}
@media (max-width:1020px) {
   .newcollection-title h1{
      font-size: 30px;
   }
   .newcollection-title hr{
      width: 120px;
      height: 4px;
   }
}
@media (max-width:820px) {
   .newcollection-title h1{
      font-size: 25px;
   }
   .newcollection-title hr{
      width: 115px;
      height: 5px;
   }
}
@media (max-width:500px) {
   .newcollection{
      padding-top: 100vh;
      padding-left: 80vh;
      padding-bottom: 60vh;
   }
   .newcollection-title h1{
      font-size: 30px;
   }
   .newcollection-title hr{
      width: 165px;
      height: 5px;
   }
   .newcollection-container{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      gap: 10vh;
   }
}